.main {
   background-color: #66fcf1;
    text-align: center;
}

.main-photo {
    padding-top: 15px;
}

.main-photo img {
    transition: all .4s ease;

}

.main-photo img:hover {
    transform: scale(1.03);
}
 
