.block {
    background-color: #f3f3f3;
    width: 100%;
    height: 844px;
}

.block h1{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    
}

.block h2 {
    padding-left: 10px;
    font-size: 16px;
    padding-top: 5px;
}
.block a{
    display: flex;
    padding-top: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    width: 60%;
    transition: all .4s ease;
}

.block a:hover {
    transform: scale(1.02);
    width: 60%;
    background-color: black;
    color: #fff;
    
}

